<div class="container">
    <!-- Botones de tiempos -->
    <div id="type_time_button_container">
        <button [style.borderRadius]="'5px 0px 0px 5px'" [ngClass]="{'selected_button': typeTimeActived === 'work'}" class="type_time_button" [disabled]="this.countdownService.countdownActived" (click)="setTypeTime('work')">
			Work
        </button>
        <button [ngClass]="{'selected_button': typeTimeActived === 'short'}" class="type_time_button" [disabled]="this.countdownService.countdownActived" (click)="setTypeTime('short')"> 
            Short Break
        </button>
        <button [style.borderRadius]="'0px 5px 5px 0px'" [ngClass]="{'selected_button': typeTimeActived === 'long'}" class="type_time_button" [disabled]="this.countdownService.countdownActived" (click)="setTypeTime('long')">
            Long Break
        </button>
    </div>

    <!-- Reloj -->
    <div id="clock_container">
        <h2 id="countdown_clock">{{displayTime}}</h2>
    </div>

    <!-- Botones -->
    <div id="button_container">
        <button class="clock_button" (click)="startCountdown()" *ngIf="!this.countdownService.countdownActived">Start</button>
        <button class="clock_button" (click)="stopCountdown()" *ngIf="this.countdownService.countdownActived">Stop</button>
        <button class="clock_button" (click)="resetCountdown()" [disabled]="this.countdownService.countdownActived">Reset</button>
    </div>

    <!-- Contadores -->
    <div id="dot_container">
        <span [ngClass]="{'dot_green': counter > 0}" class="dot"></span>
        <span [ngClass]="{'dot_green': counter > 1}" class="dot"></span>
        <span [ngClass]="{'dot_green': counter > 2}" class="dot"></span>
        <span [ngClass]="{'dot_green': counter > 3}" class="dot"></span>
    </div>
</div>