/* You can add global styles to this file, and also import other style files */

.bg-custom-dark-1 {
    background-color: #292A2D;
}

.bg-custom-dark-2 {
    background-color: #35363A;
}

/* * {
    list-style: none;
    margin: 0px;
} */

/* body {
    /* background: #e8505b; */
    /* background-color: #212121; */
    /* color-one-dark */
    /* background-color: #222824;  */
    /* color-two-dark*/
    /* background-color: #2B3634; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */ 

/* .clear_fix{
    clear: both;
    float: none;
}

.container {
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 40px;
} */

/* .bg-color-one-dark{
    background-color: #222824;
    color: white;
}

.bg-color-two-dark{
    background-color: #2B3634;
    color: white;
}

.bg-color-three-dark{
    background-color: #33403B;
    color: white;
}

.bg-color-four-dark{
    background-color: #334034;
    color: white;
}

.bg-color-five-dark{
    background-color: #2E362B;
    color: white;
}

.color-one-dark{
    color: #222824;
}

.color-two-dark{
    color: #2B3634;
}

.color-three-dark{
    color: #33403B;
}

.color-four-dark{
    color: #334034;
}

.color-five-dark{
    color: #2E362B;
} */

/* :root {
    --dark-grey: #212121;
    --grey: #7e7e7e;
}

button {
    outline: none;
} */


/* Quiar flechas input */

/* //Chrome: */
/* input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
outline: none;
} */
/* //Firefox: */
/* input[type="number"] {
-moz-appearance: textfield;
outline: none;
text-align: center;
}
input[type="number"]:hover,
input[type="number"]:focus {
-moz-appearance: number-input;
outline: none;
} */
/* //Other */
/* input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
outline: none;
} */

